<template>
  <div class="home">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <NavBar></NavBar>
    <TemplateList :onDelete="onDelete" :templates="templates"></TemplateList>
  </div>
</template>

<style>

</style>
<script>
// @ is an alias to /src
import Config from '@/config';
import Helpers from '@/helpers';
import NavBar from '@/components/NavBar.vue';
import TemplateList from '@/components/TemplateList.vue';

export default {
  name: 'home',
  components: {
    NavBar,
    TemplateList,
  },
  data() {
    return {
      isLoading: true,
      templates: [],
    };
  },
  mounted() {
    this.loadTemplates();
  },
  methods: {
    onDelete() {
      this.loadTemplates();
    },
    loadTemplates() {
      const that = this;
      that.$http.get(`${Config.api}/templates`).then((response) => {
        that.isLoading = false;
        that.templates = response.body.data;
      }, (response) => {
        Helpers.handleUnauthorized(response, that);
        Helpers.handleInternal(response, that);
        that.isLoading = false;
      });
    },
  },
};
</script>
