<template>
  <div class="full-screen" id="login">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <div class="container">
      <div class="columns is-gapless">
        <div class="column is-4"></div>
        <div class="column is-4">
          <LoginForm :onSuccess="onSuccess"></LoginForm>
        </div>
        <div class="column is-4"></div>
      </div>
    </div>
  </div>
</template>

<style>
#login {
  background: #0069ff;
}
</style>

<script>
// @ is an alias to /src
import LoginForm from '@/components/LoginForm.vue';
import Config from '@/config';

export default {
  name: 'login',
  components: {
    LoginForm,
  },
  data() {
    return {
      isLoading: true,
      localization: {
        en: 1,
        ge: 2,
      },
      activeLocalization: {},
    };
  },
  methods: {
    onSuccess() {
      const that = this;
      that.$router.push('templates');
    },
  },
  mounted() {
    const that = this;
    // Redirect to home if already logged in
    that.$http.get(`${Config.api}/users`).then(() => {
      that.$router.push('templates');
    }, () => {
      that.isLoading = false;
    });
  },
};
</script>
