<template>
  <div class="logout">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<style>

</style>
<script>
export default {
  name: 'logout',
  components: {
  },
  data() {
    return {
      isLoading: true,
    };
  },
  mounted() {
    const that = this;
    that.$cookie.delete('bauth-token');
    that.$router.push({ name: 'login' });
  },
};
</script>
