<template>
  <div class="full-screen" id="app">
    <router-view/>
  </div>
</template>

<style>

html, body, .full-screen {
  margin: 0;
  padding: 0;
  height: 100%;
}

.has-white-bg {
  background: white;
}

.modal-content {
  background-color: white;
  width: 100%;
}

</style>
